*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --blue-button: #0161FF;
    }

/* Utils */
.p-relative{
    position: relative;
}

.p-fixed{
    position:fixed;
}  

.p-absolute{
    position: absolute;
}
.d-flex{
    display: flex;
}

.big-container{
    width: 1200px;
    margin: 0 auto;
}
.smll-container{
    width: 1000px;
    margin: 0 auto;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}

.mb-30{
    margin-bottom: 30px;
}
.mb-20{
    margin-bottom: 20px;
}

.il-b{
    display: inline-block;
}

/* Generics */
body{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

li{
    list-style-type: none;
}
a{
    color: #000;
    text-decoration: none;
    font-style: normal;
}


.btn{
    color: #fff;
    display: block;
    background-color: var(--blue-button);
    padding: 10px 15px;
    text-align: center;
    height: fit-content;
  
}

h2{
    font-size: 35px;
    margin-bottom: 30px;
}

img{
    width: 100%;
}


.row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.col{
    min-height: 100%;
    width: calc(100% / 3 - 20px);
}

/*HEADER*/
header{
    width: 100%;
    margin-bottom:150px;
    
}
.top-head{
    z-index: 2;
    background-color: #fff;
    left: 0%;
    top: 0%;
    right: 0%;
    padding-right: 30px;
    justify-content: space-between;
    height: 70px;
}
.logo{
    width: 90%;
    display: inline-block;
}

.left-side-menu{
    line-height: 70px;
    vertical-align: middle;
}

.top-left{
    align-items: center;
    padding: 5px 10px;
}

.lft-navigation{
    justify-content: space-between;
    padding-left: 20px;
}

.right-navigation{
    height: 70px;
    justify-content: space-around ;
    align-items: center;
}

.bottom-head{
    width: 100%;
    background-color: #B4D0E7;
    height: 750px;
    margin-top: 70px;
    margin-bottom: 100px;
}
#jumbotron{
    margin: 20px auto;
    padding-top: 50px;
}

h1{
    font-size: 75px;
    margin-top: 35px;
}
.jumbo-content{
    padding-top: 65px
}
.description{
    flex-direction: column;
}



.col-image{
    width: 70%;
}

.fa-arrow-down{
    margin-top: 52px;
}

/* NAIN */

/* PLAN CARDS */
.card{
    height: 100%;
    border: 1px solid #dedede;
}

.become-partner{
    margin: 0 auto;
}
.plan-choice{
    padding: 10px 20px;
    margin-left: -20px;
}

.plan-info{
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% / 3);
    border: 1px solid #dedede;
    padding: 15px 20px;
}

.card-head{
    font-size: 15px;
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    
}
div .card-head span{
    margin: 0 auto;
}
h4{
    font-weight: 700;
    font-size: 20px;
}

.card-body{
    padding: 20px;
    line-height: 25i px;
}


ul li{
    padding: 2px 4px;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;

}

ul li p{
    margin-left :5px;
}


span a {
    color: #0161FF;
    text-decoration: underline;
}
h5{
  margin-top:30px ;
  margin-bottom: 20px;
  font-size: 15px;
}
.fa-check{
    font-size: 20px;
    color: #167FFF;
}

/* ENTERPRIZE CARD */
.row .enterprise-col{
    width: 100%;
}
.enterprize-col{
    height: 100%;
    width: 100%;
}
.enterprise-card{
    height: 250px;
    width: 100%;
    border: 1px solid #dedede;
    
}
.ec-head{
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #dedede;
}

.ec-body{
    justify-content: space-between;
    padding: 20px 40px ;

}
div > h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.ptn-image{
    padding-right: 30px;
}

.ptn-contact{
    padding-top: 30px;
}


/* SEZIONE OPERAZIONI IN DROPBOX */

.Dbox-operations{
    
}