*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --blue-button: #0161FF;
    }

/* Utils */
.p-relative{
    position: relative;
}

.p-fixed{
    position:fixed;
    
    
}  

.p-absolute{
    position: absolute;
}
.d-flex{
    display: flex;
}

.container-1000{
    width: 1000px;
}
.container-900{
    width: 900px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}

.mb-30{
    margin-bottom: 30px;
}
/* Generics */
li{
    list-style-type: none;
}
a{
    color: #000;
    text-decoration: none;
    font-style: normal;
}


.btn{
    color: #fff;
    display: inline-block;
    background-color: var(--blue-button);
    padding: 5px 10px;
  
  
}

h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.fa-user{
    display: inline-block;
}


/* header */
header{
    width: 100%;
    margin-bottom:150px;
    
}
.top-head{
    z-index: 2;
    background-color: #fff;
    left: 0%;
    top: 0%;
    right: 0%;
    padding-right: 30px;
    justify-content: space-between;
    height: 70px;
}
.logo{
    width: 90%;
    display: inline-block;
}

.left-side-menu{
    line-height: 70px;
    vertical-align: middle;
}

.top-left{
    align-items: center;
    padding: 5px 10px;
}

.lft-navigation{
    justify-content: space-between;
    padding-left: 20px;
}

.right-navigation{
    height: 70px;
    justify-content: space-around ;
    align-items: center;
}

.bottom-head{
    width: 100%;
    background-color: #B4D0E7;
    height: 700px;
    margin-top: 70px;
    margin-bottom: 100px;
}
#jumbotron{
    margin: 20px auto;
    padding-top: 50px;
}

h1{
    
    font-size: 65px;
}
.jumbo-content{
    padding-top: 130px
}
.description{
    flex-direction: column;
}

.begin-button{
    text-align: center;
    width: 65%;
    height: 35px;
   
}

.jumbo-image{
    height: 400px;
    
}
.fa-arrow-down{
    margin-top: 52px;
}

/* Main */

.become-partner{
    margin: 0 auto;
}
.plan-choice{
    padding: 10px 20px;
    margin-left: -20px;
}

.plan-info{
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% / 3 );
    border: 1px solid #dedede;
    padding: 15px 20px;
}

.col-head{
    font-weight: 200;
    font-size: 13px;
    height: fit-content;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dedede;
    
}
h4{
    font-weight: 300;
}
.info{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.column-hr{
    color: #dedede;
    width: 20%;
}

.fa-check{
    font-size: 20px;
    color: #167FFF;
}